.bg-gradient {
    background: rgb(0,133,152);
    background: linear-gradient(135deg, rgba(0,133,152,1) 0%, rgba(50,157,172,1) 100%);
}

.overflow-y-auto {
    scrollbar-color: rgb(12, 74, 110) #f8f9fa;
}

.z--1 {
    z-index: -1;
}

#questionListContainer {
    transition: height 0.3s ease;
}
